---
import Base from "../layouts/Base.astro";
import FormContacto from "../components/sections/Contacto.astro";
---

<Base
  title="Contacto"
  description="Hablemos de tu proyecto. Te respondemos en menos de 24 horas."
>
  <main class="main">
    <FormContacto />
  </main>
</Base>

<style>
  .main {
    padding-top: 4rem;
  }
</style>
